@media screen and (min-width: 1000px) {

    .frivillig {

        padding: 4vw;
        color: white;
        grid-column: 2/3;
        grid-row: 2/3;



    }
    voluntaryListview {
        background-color: black;
    }


    #Afdeling {}
